body{
  background-color: black;
}
.containers{
  margin: auto;
  text-align: center;
  width: 500px;
  height: 450px;
  margin-top: 20px;
  padding: 10px;
  background-color: lightgray;
  border: 1px solid black;
}
Form{
  width: 250px;
  margin: auto;
  padding: 10px;
  /* background-color: lightgray; */
}